<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/menu/add-item">
    <div class="form-group">
        <!--<label th:for="cheeseId">Cheese</label>-->
        <select name="cheeseId">
        <option th:each="cheese : ${form.getCheeses()}" th:value="${cheese.id}" th:text="${cheese.name}"></option>
    </select>
    <input type="hidden" name="menuId" th:value="*{menu.id}" />
    <span th:errors="*{menu}" class="error"></span>
    </div>

    <input type="submit" value="Add Cheese to Menu" />
</form>

</body>
</html>